@font-face {
    font-family: amir;
    src: url("font/Yekan.ttf") format("truetype");
}

.amir {
    font-family: amir;
}

.verysm {
    font-size: 8pt;
}

.sm {
    font-size: 10pt;
}

.md {
    font-size: 12pt;
}

.lg {
    font-size: 18pt;
}

body {
    margin: 0;
    background: snow;
    direction: rtl;
}

header {
    background: white;
}

#header {
    width: 1200px;
    height: 120px;
    margin: auto;
}

#header_right {
    width: 900px;
    height: 100%;
    float: right;
}

#header_left {
    width: 300px;
    height: 100%;
    float: left;
}

#header_left > img {
    float: left;
}

#header_right_top {
    width: 100%;
    height: 40px;
    padding-top: 10px;
}

#header_right_buttom {
    width: 100%;
    height: 60px;
}

#enter_logo {
    display: inline-block;
    width: 24px;
    height: 24px;
    background: url("images/enter.png");
    margin-bottom: -8px;
}

#header_right_top > a {
    margin-right: 10px;
    text-decoration: none;
}

#register_logo {
    display: inline-block;
    width: 24px;
    height: 24px;
    background: url("images/register.png");
    margin-right: 10px;
    margin-bottom: -8px;
}

#basket {
    width: 160px;
    height: 38px;
    float: right;
    background: #3cbb1d;
    border-radius: 5px;
    overflow: hidden;
}

#basket_logo {
    width: 50px;
    height: 100%;
    float: right;
    background: #34a019 url("images/cart.png") no-repeat center;
}

#basket_left {
    width: 110px;
    height: 100%;
    float: left;
}

#basket_text {
    color: white;
    margin-right: 10px;
    line-height: 40px;
}

#basket_number {
    width: 24px;
    height: 24px;
    display: inline-block;
    line-height: 21px;
    text-align: center;
    background: white;
    border-radius: 40%;
    margin-right: 10px;
}

#search_box {
    width: 620px;
    height: 100%;
    float: right;
    margin-right: 20px;
    position: relative;
}

#search_box > input {
    width: 580px;
    height: 35px;
    border-radius: 8px;
    border: 1px solid #aaaaaa;
    padding-right: 10px;
}

#search_logo {
    width: 40px;
    height: 39px;
    float: left;
    background: #3cbb1d url("images/search.png") no-repeat center;
    position: absolute;
    top: 0;
    left: 26px;
}

nav {
    background: #f9f9f2;
    width: 100%;
    height: 40px;
    box-shadow: 0px 3px 5px #62676e;
    border-top: 1px solid #eee;
}

#menu_top {
    width: 1200px;
    height: 100%;
    margin: auto;
}

#digimag {
    width: 200px;
    height: 100%;
    float: left;
}

#digimag img {
    width: 180px;
    height: 28px;
    position: relative;
    left: 0;
    top: 6px;
}

#menu_top > ul {
    margin: 0;
    padding: 0;
    position: relative;

}

#menu_top > ul > li {
    list-style: none;
    float: right;
    height: 100%;
}

#menu_top > ul > li > a {
    text-decoration: none;
    padding: 0 10px;
    line-height: 40px;
    color: #000000;
    display: block;
    height: 100%;
}

#menu_top > ul > li > ul {
    margin: 0;
    padding: 0;
    background: white;
    position: absolute;
    width: 1200px;
    height: 35px;
    right: 0;
    box-shadow: 0 2px 3px #62676e;
    display: none;
    z-index: 2;
}

#menu_top > ul > li > ul > li {
    list-style: none;
    float: right;
    line-height: 34px;
    height: 100%;
}

#menu_top > ul > li > ul > li > a {
    text-decoration: none;
    padding-right: 15px;
    height: 100%;
    display: block;
    color: black;
}

.menue_top_level3 {
    width: 1200px;
    height: 300px;
    background: #fff;
    position: absolute;
    border-top: 1px solid #eeeeee;
    right: 0;
    box-shadow: 0 1px 3px #000000;
    z-index: 3;
}

.divforlevel3 {
    width: 299px;
    height: 100%;
    float: right;
    border-left: 1px solid #eeeeee;
}

.divforlevel3 > ul {
    padding: 0;
}

.divforlevel3 > ul > li {
    list-style: none;
    padding-right: 20px;
}

.divforlevel3 > ul > li:first-child {
    color: #5277b7;
    padding-right: 10px;
}

.div3 {
    display: none;
}

.active_menu {
    background: #ffffff;
    box-shadow: 0 -2px 2px #eeeeee;
}

.active_input {
    border: 1px solid #eeeeee;
}

#mob_pic {
    position: absolute;
    z-index: 2;
    top: 10px;
    left: 30px;
}

#banner_top {
    width: 1200px;
    height: 140px;
    margin: 10px auto;
}

#banner_top > img {
    width: 100%;
    height: 100%;
    border-radius: 5px;
    box-shadow: 0 1px 3px #000000;
}

#tablet_pic {
    position: absolute;
    left: 0px;
    bottom: 20px;
}

#supermarket_pic {
    position: absolute;
    left: 0px;
    bottom: 5px;
}

#main {
    width: 1200px;
    margin-right: 75px;
    float: right;
    margin-top: 10px;
}

#sidebar_right {
    width: 250px;
    height: 100%;
    float: right;
}

#content {
    width: 930px;
    height: 100%;
    float: left;
}

#digi_tv {
    padding: 0;
    margin: 0;
}

#digi_tv li {
    list-style: none;
    margin-top: 10px;
    width: 250px;
    height: 200px;
}

#digi_tv > li > a {
    display: block;
    width: 100%;
    height: 100%;
}

.image_tv_news {
    border-radius: 5px;
    box-shadow: 0 1px 3px #000000;
    width: 100%;
    height: 100%;
}

.back_video_icon {
    display: block;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    float: right;
    background: rgba(255, 255, 255, .6);
    position: absolute;
    top: 75px;
    left: 0px;
    right: 0px;
    margin: auto;
}

.video_icon {
    width: 32px;
    height: 32px;
    position: absolute;
    top: 8px;
    left: 10px;
}

.spotlight {
    display: block;
    width: 250px;
    height: 200px;
    background: rgba(0, 0, 0, .4);
    position: absolute;
    top: 0;
    border-radius: 5px;
}

.position_relative {
    position: relative;
}

.activ_tv {
    background: rgba(255, 255, 2255, 1);
}

#sidebar_right > img {
    width: 100%;
    height: 100px;
    border-radius: 5px;
    box-shadow: 0 1px 3px #000000;;
}

#news {
    width: 100%;
    float: right;
    background: #ffffff;
    margin-top: 10px;
    border-radius: 5px;
    box-shadow: 0 1px 3px #000000;;
    overflow: hidden;
}

#news h3 {
    margin: 0;
    background: #eeeeee;
    line-height: 30px;
    text-align: center;
    height: 35px;
    color: #5277b7;
    display: block;
}

.pic_news img {
    border-radius: 50%;
    position: relative;
    top: 10px;
    right: 5px;
    width: 70px;
    height: 70px;
}

.pic_news {
    width: 80px;
    height: 100px;
    float: right;
}

.text_news {
    width: 165px;
    height: 100px;
    float: left;
    margin-left: 5px;
}

#news_ul {
    padding: 0;
    margin: 0;
    float: right;
    width: 100%;
}

#news a {
    text-decoration: none;
    display: block;
    float: right;
    width: 100%;
}

#news_ul li {
    padding: 0;
    margin: 5px 0 0 0;
    list-style: none;
    float: right;
    width: 100%;
}

.text_news > p {
    margin: 5px 0 0 0;
    text-align: right;
}

#brands {
    width: 250px;
    float: right;
    background: #ffffff;
    margin-top: 10px;
    border-radius: 5px;
    box-shadow: 0 1px 3px #000000;;
    text-align: center;
}

#brands img {
    width: 140px;
    height: 120px;
}

#brands h3 {
    margin: 0;
    background: #eeeeee;
    line-height: 30px;
    text-align: center;
    height: 35px;
    color: #5277b7;
    display: block;
}

#suggestion_sidebar {
    padding: 0;
    margin: 0;
    float: right;
}

#suggestion_sidebar li {
    list-style: none;
    margin-top: 10px;
}

#suggestion_sidebar li a {
    display: block;
}

#suggestion_sidebar li a img {
    width: 250px;
    height: 200px;
    border-radius: 5px;
    box-shadow: 0 1px 3px #000000;
}

#slider {
    width: 100%;
    height: 420px;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0 1px 3px #000000;
    background: #ffffff;
    position: relative;
}

#slider_img {
    width: 100%;
    height: 370px;
}

#slider_img img {
    width: 100%;
    height: 100%;
}

#slider_nav {
    width: 100%;
    height: 50px;
    background: rgba(0, 0, 0, .5);
}

.sliderItems {
    display: none;
}

#btn_next {
    width: 48px;
    height: 48px;
    display: block;
    background: url("images/left.png");
    position: absolute;
    top: 160px;
    left: 15px;
    cursor: pointer;
    z-index: 2;
}

#btn_prev {
    width: 48px;
    height: 48px;
    display: block;
    background: url("images/right.png");
    position: absolute;
    top: 160px;
    right: 15px;
    cursor: pointer;
    z-index: 2;
}

#slider_nav ul {
    margin: 0;
    padding: 0;
    height: 100%;
}

#slider_nav ul li {
    width: 186px;
    height: 100%;
    float: right;
    list-style: none;
    text-align: center;
    line-height: 50px;
    color: #ffffff;
    cursor: pointer;
    position: relative;
}

header > a {
    display: block;
    width: 100%;
    height: 50px;
}

header > a > img {
    width: 100%;
    height: 50px;
    box-shadow: 0 1px 3px #000000;
}

.activ_nav_slider {
    background: #ffffff;
    color: #000000 !important;
}

.activ_nav_slider::after {
    content: " ";
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 12.5px 12px 12.5px;
    border-color: transparent transparent #ffffff transparent;
    position: absolute;
    top: -12px;
    left: 0;
    right: 0;
    margin: auto;
}

#features {
    width: 930px;
    height: 70px;
    background: #ffffff;
    box-shadow: 0 1px 3px #000000;
    border-radius: 5px;
    overflow: hidden;
    margin-top: 10px;
}

#features ul {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

#features ul li {
    width: 186px;
    height: 100%;
    float: right;
    list-style: none;
}

#features ul li a {
    width: 100%;
    height: 100%;
    display: block;
    line-height: 75px;
}

#features ul li a i {
    width: 32px;
    height: 32px;
    display: block;
    float: right;
    background: url("images/slices.gif") no-repeat;
    margin: 18px 5px;
}

#slider2 {
    width: 930px;
    height: 304px;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0 1px 3px #000000;
    background: #ffffff;
    margin-top: 10px;
    position: relative;
}

#slider2_nav {
    width: 199px;
    height: 100%;
    float: left;
    border-right: 1px solid #cccccc;
    background: #eeeeee;
}

#slider2_nav ul {
    margin: 0;
    padding: 0;
}

#slider2_nav ul li {
    list-style: none;
    text-align: center;
    height: 38px;
    line-height: 36px;
    cursor: pointer;
}

#slider2_content {
    width: 730px;
    height: 100%;
    float: right;
    position: relative;
}

#slider2_content a {
    display: block;
    width: 100%;
    height: 100%;
    display: none;
}

.slider2_content_right {
    width: 400px;
    height: 100%;
    float: right;
}

.slider2_content_left {
    width: 330px;
    height: 100%;
    float: left;
    position: relative;
}

.slider2_content_left img {
    width: 210px;
    height: 250px;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

.slider2_content_left p {
    text-align: center;
}

.slider2_price_old {
    width: 100px;
    height: 40px;
    float: right;
    background: #999;
    border-radius: 3px;
    margin: 30px 15px 0 0;
    position: relative;
}

.slider2_price_old::after {
    content: " ";
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 7.5px 12px 7.5px 0;
    border-color: transparent #999999 transparent transparent;
    position: absolute;
    left: -10px;
    top: 12px;
    z-index: 2;
}

.slider2_price_old p {
    color: #ffffff;
    text-align: center;
    line-height: 40px;
    margin: 0;
}

.slider2_price_new {
    width: 150px;
    height: 40px;
    float: right;
    background: #e80400;
    position: relative;
    margin-top: 30px;
    margin-right: 2px;
    border-radius: 3px;
}

.slider2_price_new p {
    color: #ffffff;
    text-align: center;
    line-height: 40px;
    margin: 0;
}

.slider2_price_new::after {
    content: " ";
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 7.5px 12px 7.5px 0;
    border-color: transparent #ffffff transparent transparent;
    position: absolute;
    top: 12px;
    right: 0;
}

.line_price {
    display: block;
    width: 80px;
    height: 1px;
    background: #000000;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    top: 20px;
    transform: rotate(-22deg);
}

.slider2_content_right ul {
    float: right;
    margin: 15px 10px 0 0;
}

.slider2_content_right ul li {
    list-style-image: url("images/tick.png");
}

.active_nav_slide2 {
    background: #e80400;
    color: #ffffff;
    position: relative;
}

.active_nav_slide2::after {
    content: " ";
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 19px 0 19px 18px;
    border-color: transparent transparent transparent #e80400;
    position: absolute;
    right: -18px;
    top: 0px;
}

.slider2_content_right > p {
    float: right;
    color: red;
    position: absolute;
    top: 170px;
    right: 35px;
}

#finished_slider2 {
    width: 100%;
    height: 100%;
    position: absolute;
    background: rgba(0, 0, 0, 0.07);
    display: none;
    z-index: 2;
}

#finished_slider2 > p {
    color: #fb0500;
    text-align: center;
    line-height: 300px;
    margin: 0;
}

.day_h_min_s {
    width: 200px;
    height: 40px;
    float: right;
    position: absolute;
    bottom: 0;
    right: 30px;
}

.day_h_min_s p {
    margin: 0 18px 0 0;
    display: inline-block;
    color: #fb0500;
}

.product_slider {
    width: 100%;
    height: 310px;
    background: #FFFFFF;
    border-radius: 5px;
    box-shadow: 0 1px 3px #000000;
    overflow: hidden;
    margin-top: 10px;
    display: inline-block;
}

.product_slider h3 {
    display: block;
    height: 35px;
    background: #aaaaaa;
    text-align: center;
    margin: 0;
    font-weight: normal;
    color: #fb0500;
}

.product_slider_content {
    width: 100%;
    height: 275px;
}

.product_slider_prev, .product_slider_next {
    width: 60px;
    height: 100%;
    float: right;
}

.product_slider_main {
    width: 810px;
    height: 100%;
    float: right;
    overflow: hidden;
}

.product_slider_prev span {
    display: block;
    width: 32px;
    height: 32px;
    background: url("images/slices.gif");
    background-position: -264px 0;
    position: relative;
    top: 110px;
    right: 13px;
    cursor: pointer;
}

.product_slider_next span {
    display: block;
    width: 32px;
    height: 32px;
    background: url("images/slices.gif");
    background-position: -314px 0;
    position: relative;
    top: 110px;
    right: 13px;
    cursor: pointer;
}

.product_slider_main ul {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 2430px;
}

.product_slider_main ul li {
    list-style: none;
    float: right;
    height: 100%;
    width: 162px;
}

.product_slider_main ul li a {
    display: block;
    width: 100%;
    height: 100%;
    text-align: center;
    text-decoration: none;
}

.product_slider_main ul li a img {
    width: 150px;
    height: 150px;
    margin-top: 5px;
}

.price {
    color: #fb0500;
}

.directAccess img {
    width: 290px;
    height: 222px;
    margin: 10px 0 0 10px;
    border-radius: 5px;
    box-shadow: 0 1px 3px #000000;
}

footer {
    width: 100%;
    display: inline-block;
    margin-top: 15px;
}

#footer_top {
    width: 100%;
    height: 390px;
    background: #e2e2db;
}

#footer_bottom {
    width: 100%;
    height: 250px;
    text-align: center;
    background: #b2bcc8;
}

#footer_top_l1 {
    width: 1200px;
    height: 100px;
    margin: auto;
}

#footer_top_l1 ul {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

#footer_top_l1 ul li {
    width: 240px;
    height: 100%;
    float: left;
    text-align: center;
    list-style: none;
}

#footer_top_l1 ul li i {
    width: 64px;
    height: 64px;
    display: inline-block;
    background: url("images/slices.gif");
}

#footer_top_l1 ul li p {
    margin: 0;
    color: #ce0f1d;
}

#social_footer {
    width: 1200px;
    height: 70px;
    margin: auto;
}

.footer_hr {
    width: 1200px;
    margin: 5px auto;
}

#social_footer p {
    float: right;
}

#social_footer ul {
    margin: 0;
    padding: 0;
    width: 800px;
    height: 100%;
    float: left;
}

#social_footer ul li {
    list-style: none;
    width: 70px;
    height: 100px;
    float: left;
    text-align: center;
    margin-top: 5px;
}

#social_footer ul li a {
    width: 64px;
    height: 64px;
    display: inline-block;
    background: url("images/slices.gif");
}

#footer_top_l3 {
    width: 1200px;
    height: 70px;
    margin: auto;
}

#footer_top_l3 p {
    float: right;
}

#footer_top_l3 ul {
    margin: 0;
    padding: 0;
    width: 500px;
    height: 100%;
    float: left;
}

#footer_top_l3 ul li {
    list-style: none;
    width: 70px;
    height: 100px;
    float: left;
    text-align: center;
    margin-top: 5px;
}

#footer_top_l3 ul li a {
    width: 64px;
    height: 64px;
    display: inline-block;
    background: url("images/slices.gif");
}

#footer_top_l4 {
    width: 1200px;
    height: 114px;
    margin: auto;
}

#footer_top_l4 p {
    display: block;
    float: right;
    margin-top: 30px;
}

#footer_top_l4 i {
    width: 64px;
    height: 64px;
    display: block;
    float: right;
    background: url("images/slices.gif");
    margin: 10px 170px 0 0;
}

#footer_bottom img {
    width: 260px;
    height: 200px;
}

/*end style for index*/
/* start style for register page*/
#register_main {
    width: 1200px;
    height: 500px;
    background: #eeeeee;
    margin: auto;
    margin-top: 10px;
    border-radius: 5px;
}

#register_main_logo {
    width: 100%;
    height: 110px;
    text-align: center;
}

#register_main_logo p {
    margin: 5px 0 0 0;
}

#register_main_logo i {
    display: inline-block;
    width: 64px;
    height: 64px;
    background: url("images/slices.gif") -1062px -38px;
    margin-top: 5px;
}

.register_cell {
    width: 50%;
    height: 390px;
    float: right;
    margin-top: 20px;
}

.register_input {
    width: 100%;
    margin-top: 15px;
}

.register_input label {
    margin-right: 10px;
    width: 170px;
    height: 20px;
    display: inline-block;
}

.register_input input {
    width: 350px;
    height: 20px;
    border-radius: 2px;
    border: 1px solid #000000;
}

.readRule {
    width: 100%;
    position: relative;
    top: 25px;
    padding-right: 10px;
}

.readRule span {
    margin-right: 10px;
    display: block;
    position: relative;
    right: 30px;
    top: -22px;
}

.register_cell button {
    width: 540px;
    height: 40px;
    background: #6cc3d4;
    border-radius: 3px;
    border: 1px solid #cccccc;
    position: relative;
    right: 5px;
    top: 20px;
    cursor: pointer;
}

.register_cell ul {
    margin: 0;
    padding: 0;
}

.register_cell ul li {
    margin: 10px 5px 0 0;
    list-style: url("images/tick.png");
}

.readRule input {
    z-index: 2;
    position: relative;
    opacity: 0;
    cursor: pointer;
    width: 16px;
    height: 16px;
}

.divcheck {
    width: 16px;
    height: 16px;
    float: right;
    border: 1px solid #000000;
    position: relative;
    right: 16px;
    margin-top: 3px;
}

.activeCheck {
    background: #FFFFFF url("images/slices.gif") no-repeat -352px -1px;
}

#enter_main_logo {
    text-align: center;
}

#enter_main_logo i {
    display: inline-block;
    width: 64px;
    height: 64px;
    background: url(images/slices.gif) -1130px -38px;
    margin-top: 5px;
}

#searchpage_main {
    width: 1200px;
    margin: auto;
    margin-top: 10px;
    background: #eeeeee;
    border-radius: 5px;
}

#searchpage_main::after {
    content: " ";
    display: block;
    clear: both;
}

#search_sidebar {
    width: 249px;
    height: 100%;
    float: right;
    border: 1px solid #9b9b9b;
}

#search_content {
    width: 949px;
    height: 100%;
    float: left;
}

#search_sidebar > p {
    margin: 0;
    text-align: center;
    background: #424e98;
    color: #FFFFFF;
}

#search_sidebar ul li {
    list-style: none;
}

#search_sidebar ul {
    margin: 5px 0 0 0;
    padding-right: 20px;
}

.line {
    height: 1px;
    background: #aaaaaa;
    margin: 15px;
    float: right;
    width: 90%;
}

#search_sidebar .readRule {
    top: 0 !important;
    height: 30px !important;
}

#search_sidebar > span {
    margin: 5px 10px 5px 0;
}

.color {
    width: 5px;
    height: 16px;
    display: inline-block;
    position: relative;
    right: -40px;
}

.searchnav {
    margin: 0;
    padding: 0;
    width: 100%;
    float: right;
}

.searchnav li {
    list-style: none;
    float: right;
    margin-right: 10px;
    margin-top: 5px;
}

.searchnav i {
    width: 16px;
    height: 16px;
    display: block;
    float: right;
    position: relative;
    top: 7px;
    right: 4px;
    background: url("images/leftnav.png");
}

.filter_top {
    width: 100%;
    float: right;
    margin: 10px 0 0 0;
    padding: 0;
}

.filter_top > li {
    float: right;
    margin-right: 10px;
    width: 200px;
    line-height: 25px;
    height: 25px;
    background: #cccccc;
    border-radius: 3px;
    padding-right: 10px;
    list-style: none;
    box-shadow: 1px 1px 3px #777;
    cursor: pointer;
}

.filter_top li img {
    float: left;
    margin: 5px 0 0 5px;
}

.filter_top li .filter_top_option {
    width: 210px;
    position: relative;
    height: 200px;
    background: #eeeeee;
    right: -10px;
    box-shadow: 0 1px 3px #aaa;
    overflow-x: hidden;
    overflow-y: auto;
    display: none;
    z-index: 2;
}

.filter_top_option ul {
    padding: 5px 0 0 0;
    margin: 0;
}

.filter_top_option ul li {
    list-style: none;
    line-height: 20px;
}

.filter_top_option ul li .divcheck {
    width: 12px;
    height: 12px;
    float: right;
    border: 1px solid #000000;
    position: relative;
    right: 16px;
    margin-top: 3px;
}

.filter_top_option ul li .checkbox {
    z-index: 2;
    position: relative;
    opacity: 0;
    cursor: pointer;
    width: 12px;
    height: 12px;
}

.liparent .activeCheck {
    background: #5880c5;
}

.liparent {
    display: inline-block;
}

#selected_filter {
    width: 100%;
    margin-top: 10px;
    float: right;
}

#selected_filter > span {
    float: right;
    margin-right: 10px;
    margin-bottom: 10px;
    width: 200px;
    line-height: 25px;
    height: 25px;
    background: #cccccc;
    border-radius: 3px;
    padding-right: 10px;
    display: block;
    box-shadow: 1px 1px 3px #777;
}

#selected_filter > span > i {
    width: 16px;
    height: 16px;
    display: block;
    float: left;
    background: url("images/slices.gif") no-repeat -371px 0;
    margin: 3px;
    cursor: pointer;
}

#fiter_search > input {
    width: 250px;
    height: 20px;
    margin-right: 10px;
    padding-right: 5px;
    border: 1px solid #aaaaaa;
}

#fiter_search {
    width: 100%;
    height: 50px;
    float: right;
    position: relative;
}

#fiter_search > img {
    position: absolute;
    top: 2px;
    right: 245px;
    cursor: pointer;
}

#fiter_search > span {
    position: absolute;
    top: 4px;
    right: 340px;
}

#fiter_search .exist {
    width: 64px;
    height: 32px;
    display: block;
    position: absolute;
    top: -2px;
    right: 275px;
    background: url("images/on.off.png") no-repeat 0 -33px;
    cursor: pointer;
}

.on {
    background-position: 0 0 !important;
}

#display_type {
    width: 140px;
    height: 100%;
    float: left;
}

#list_display {
    width: 24px;
    height: 24px;
    display: block;
    float: left;
    margin-left: 5px;
    background: url("images/slices.gif") no-repeat -418px 0px;
    border: 1px solid #aaaaaa;
    cursor: pointer;
}

#network_display {
    width: 24px;
    height: 24px;
    display: block;
    float: left;
    margin-left: 5px;
    border: 1px solid #aaaaaa;
    background: url("images/slices.gif") no-repeat -451px 0px;
    cursor: pointer;
}

#display_type > span {
    line-height: 25px;
}

.display_active {
    background-color: #FFFFFF !important;
}

#filter_option {
    width: 100%;
    height: 50px;
    float: right;
}

#filter_option > span {
    margin-right: 15px;
    width: 115px;
    height: 100%;
    line-height: 25px;
    display: inline-block;
}

#pages {
    height: 100%;
    float: left;
    text-align: center;
}

#pages span {
    background: snow;
    box-shadow: 0 1px 2px #aaaaaa;
    margin-left: 5px;
    display: inline-block;
    width: 20px;
}

#next_span, #last_span {
    width: 80px !important;
    display: inline-block !important;
}

#products {
    width: 100%;
    float: right;
}

#products ul {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    float: right;
}

#products ul li {
    padding: 0;
    list-style: none;
    float: right;
    width: 223px;
    height: 380px;
    text-align: center;
    border: 1px solid #aaaaaa;
    margin: 0 10px 10px 0;
    background: snow;
}

.products_images {
    width: 140px;
    height: 180px;
    margin: auto;
    margin-top: 5px;
}

.products_images img {
    width: 100%;
    height: 100%;
}

.colors_product {
    width: 12px;
    height: 12px;
    border-radius: 2px;
    display: inline-block;
    margin-top: 5px;
}

.stars {
    width: 80px;
    height: 16px;
    margin: auto;
}

.black_stars {
    width: 100%;
    height: 100%;
    background: url("images/black star.png") repeat;
    position: relative;
}

.gold_stars {
    width: 50%;
    height: 100%;
    background: url("images/gold star.png") repeat;
    position: absolute;
    left: 0;
    top: 0;
}

.product_title {
    margin: 5px 0 0 0;
}

.add_cart {
    width: 100%;
    height: 100%;
    border-radius: 3px;
    display: inline-block;
    background: #84f442 url("images/cart.png") no-repeat center;
    box-shadow: 0 1px 5px #aaaaaa;
}

.add_cart_link {
    width: 35px;
    height: 35px;;
    display: inline-block;
    margin: 5px auto;
    cursor: pointer;
}

.details_products {
    width: 115px;
    height: 35px;
    float: right;
    color: #FFFFFF;
    line-height: 35px;
    position: relative;
    top: 2px;
    right: 30px;
    cursor: pointer;
}

.details_products > div {
    width: 100%;
    height: 100%;
    border-radius: 3px;
    display: inline-block;
    background: #84f442;
    box-shadow: 0 1px 5px #aaaaaa;
    text-align: center;
}

.old_price {
    margin: 5px 0 0 0;
    color: #fb0500;
    text-decoration: line-through;
}

.new_price {
    margin: 5px 0 0 0;
    color: #4a9329;
}

#products .poducts_li {
    width: 100%;
    height: 100%;
    float: right;
}

#products .display_list {
    width: 98% !important;
}

.display_list .products_right {
    width: 250px !important;
    height: 100% !important;
    float: right !important;
    border-left: 1px solid #aaaaaa;
}

.display_list .products_left {
    display: block;
}

.products_left p {
    text-align: right;
    margin: 5px 5px 0 0;
}

.products_left p:first-child {
    color: #f02731;
    margin: 5px 5px 0 0;
    text-align: right;
}

.products_left {
    display: none;
    height: 100%;
    width: 679px;
    float: left;
}

.display_list .details_products {
    right: 42px;
!important;
}

#main_products::after {
    content: " ";
    clear: both;
    float: right;
}

#main_products {
    width: 1200px;
    height: 655px;
    margin: 15px auto;
    margin-bottom: 0;
    position: relative;
    border-radius: 4px;
    overflow: hidden;
    background: #eeeeee;
}

#offer {
    width: 100%;
    height: 80px;
    float: right;
    background: #999999;
}

#offer > img {
    width: 150px;
    height: 50px;
    float: right;
    margin: 15px 10px 0 0;
}

#main_products .example {
    direction: ltr !important;
    text-align: left;
    transform: scale(.3);
    position: absolute;
    top: -25px;
    left: -740px;
}

#main_products .day_h_min_s {
    width: 200px;
    height: 40px;
    float: left;
    position: absolute;
    top: 50px;
    right: 995px;
}

.products_price {
    width: 210px;
    height: 35px;
    float: left;
    background: #dc232b;
    position: absolute;
    left: 440px;
    top: 25px;
    overflow: hidden;
    border-radius: 5px;
    color: #FFFFFF;
    text-align: center;
}

.products_price span {
    margin-right: 5px;
    line-height: 35px;
}

#products_details {
    width: 100%;
    height: 575px;
    float: right;
}

#products_details .right {
    width: 450px;
    height: 100%;
    float: right;
    border-left: 1px solid #cccccc;
}

#products_details .left {
    width: 749px;
    height: 505px;
    float: left;
}

.share {
    width: 100%;
    height: 50px;
}

.share i {
    width: 32px;
    height: 32px;
    display: block;
    float: left;
    margin: 15px 0 0 10px;
    cursor: pointer;
}

.share .share {
    background: url("images/share.png") no-repeat center;
}

.share .favorite {
    background: url("images/favarite.png") no-repeat center;
}

.gallery {
    width: 100%;
    float: right;
    text-align: center;
}

.gallery > img {
    width: 350px;
    height: 400px;
    margin-top: 10px;
}

.gallery ul {
    padding: 0;
    margin: 10px 0 0 0;
    width: 100%;
}

.gallery ul li {
    width: 80px;
    height: 80px;
    float: right;
    border: 1px solid #cccccc;
    margin: 0 6px 10px 0;
    text-align: center;
    list-style: none;
    cursor: pointer;
    border-radius: 4px;
}

.gallery ul li img {
    width: 70px;
    height: 70px;
    margin-top: 5px;
}

.gallery .more {
    width: 32px;
    height: 32px;
    display: inline-block;
    background: url("images/dat.png") no-repeat;
    margin-top: 25px;
}

#products_details .left .title {
    width: 100%;
    height: 65px;
    float: right;
    background: #cccccc;
    position: relative;
}

#products_details .left .title > p {
    margin-right: 10px;
    color: #f02731;
}

#products_details .left .title .stars {
    position: absolute;
    left: 15px;
    top: 5px;
}

#products_details .left .title .stars > p {
    margin: 0;
    text-align: center;
}

#products_details .left .right {
    width: 450px;
    height: 100%;
    float: right;
    border: none;
}

#products_details .left .left {
    width: 299px;
    height: 100%;
    float: left;
}

#products_details .left .right .choose_color {
    margin: 15px 5px 0 0;
}

#products_details .left .right ul {
    padding: 0;
    margin: 15px 0 10px 0;
    width: 100%;
    float: right;
}

#products_details .left .right ul li {
    list-style: none;
    float: right;
    margin-right: 10px;
    width: 75px;
    height: 25px;
    background: #cccccc;
    border: 1px solid #aaaaaa;
    border-radius: 3px;
    line-height: 25px;
    cursor: pointer;
}

#products_details .left .right ul li .circle {
    width: 20px;
    height: 20px;
    display: block;
    float: right;
    border-radius: 50%;
    margin: 2px 5px 0 5px;
    position: relative;
}

#products_details .left .right > ul > li .circle .active {
    content: " ";
    display: block;
    float: right;
    width: 16px;
    height: 16px;
    background: url("images/pza.png") center;
    position: absolute;
    left: 2px;
    top: 2px;
}

#products_details .left .right .choose_garanty {
    width: 250px;
    height: 30px;
    border-radius: 4px;
    background: #cccccc;
    border: 1px solid #aaaaaa;
    margin: 10px 10px 5px 0;
    position: relative;
    cursor: pointer;
    text-align: center;
}

#products_details .left .right .choose_garanty::before {
    content: " ";
    display: block;
    width: 20px;
    height: 20px;
    background: url("images/pza.png") no-repeat center;
    position: absolute;
    right: 5px;
    top: 5px;
}

#products_details .left .right .choose_garanty::after {
    content: " ";
    display: block;
    width: 16px;
    height: 16px;
    background: url("images/arrow.png") no-repeat center;
    position: absolute;
    left: 5px;
    top: 7px;
}

#products_details .left .right .choose_garanty span {
    line-height: 30px;
}

#products_details .left .right .choose_garanty ul {
    margin: 0;
    padding: 0;
    width: 100%;
    float: right;
    box-shadow: 0 1px 3px #aaaaaa;
    display: none;
}

#products_details .left .right .choose_garanty ul li {
    list-style: none;
    width: 100%;
    height: 25px;
    float: right;
    margin: 0;
    border-radius: 1px;
    background: #eeeeee;
}

#products_details .left .right .choose_garanty ul li:hover {
    background: #dadfdd;
}

#products_details .left .right .old_pro_price {
    width: 100%;
    float: right;
    margin: 20px 10px 10px 0;
    text-decoration: line-through #f02731;
}

#products_details .left .right .old_pro_price span:nth-child(2) {
    color: #4a9329;
}

#products_details .left .right .off {
    display: block;
    width: 145px;
    height: 30px;
    background: #be1e25;
    border-radius: 4px;
    margin-right: 15px;
    float: left;
    text-align: center;
    color: #FFFFFF;
    line-height: 30px;
    margin-left: 130px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, .4);
}

.priceforyou {
    width: 100%;
    float: right;
    margin: 20px 10px 0 0;
}

#products_details .left .right .priceforyou span:nth-child(2) {
    color: #4a9329;
}

.btn_compare {
    width: 130px;
    height: 35px;
    border-radius: 4px;
    display: block;
    float: right;
    margin: 20px 10px 0 0;
    background: #4b6ba6;
    text-align: center;
    line-height: 35px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, .4);
    cursor: pointer;
    overflow: hidden;
    color: #FFFFFF;
}

.btn_addcart {
    width: 160px;
    height: 35px;
    border-radius: 4px;
    display: block;
    float: right;
    margin: 20px 10px 0 0;
    background: #66bb33;
    line-height: 35px;
    color: #FFFFFF;
    overflow: hidden;
    text-align: center;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, .4);
    cursor: pointer;
}

.btn_addcart span {
    width: 35px;
    height: 100%;
    display: block;
    float: right;
    background: url("images/cart.png") #529629 no-repeat center;
}

.btn_compare span {
    width: 35px;
    height: 100%;
    display: block;
    float: right;
    background: url("images/chart.png") #5477b9 no-repeat center;
}

.products_info {
    width: 1200px;
    height: 400px;
    margin: 10px auto;
    background: #eeeeee;
    border-radius: 4px;
    overflow: hidden;
    position: relative;
    padding-bottom: 50px;
}

.products_info > h4 {
    margin: 5px 10px 0 0;
}

.products_info > span {
    width: 100%;
    height: 45px;
    line-height: 45px;
    display: block;
    float: right;
    background: #5477b9;
    cursor: pointer;
    color: #FFFFFF;
    text-align: center;
    position: absolute;
    bottom: 0;
}

.products_info.active {
    height: auto !important;
}

.products_info > p {
    margin: 5px 10px 0 0;
    text-align: justify-all;
}

#products_sugestion {
    width: 1200px;
    margin: auto;
}

#products_sugestion .product_slider {
    width: 100%;
    height: 310px;
    background: #FFFFFF;
    border-radius: 5px;
    box-shadow: 0 1px 3px #000000;
    overflow: hidden;
    display: inline-block;
}

#products_sugestion .product_slider h3 {
    display: block;
    height: 35px;
    background: #aaaaaa;
    text-align: center;
    margin: 0;
    font-weight: normal;
    color: #fb0500;
}

#products_sugestion .product_slider_content {
    width: 100%;
    height: 275px;
}

#products_sugestion .product_slider_prev, .product_slider_next {
    width: 60px;
    height: 100%;
    float: right;
}

#products_sugestion .product_slider_main {
    width: 1080px;
    height: 100%;
    float: right;
    overflow: hidden;
}

#products_sugestion .product_slider_prev span {
    display: block;
    width: 32px;
    height: 32px;
    background: url("images/slices.gif");
    background-position: -264px 0;
    position: relative;
    top: 110px;
    right: 13px;
    cursor: pointer;
}

#products_sugestion .product_slider_next span {
    display: block;
    width: 32px;
    height: 32px;
    background: url("images/slices.gif");
    background-position: -314px 0;
    position: relative;
    top: 110px;
    right: 13px;
    cursor: pointer;
}

#products_sugestion .product_slider_main ul {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 2430px;
}

#products_sugestion .product_slider_main ul li {
    list-style: none;
    float: right;
    height: 100%;
    width: 216px;
}

#products_sugestion .product_slider_main ul li a {
    display: block;
    width: 100%;
    height: 100%;
    text-align: center;
    text-decoration: none;
}

#products_sugestion .product_slider_main ul li a img {
    width: 150px;
    height: 150px;
    margin-top: 5px;
}

#products_sugestion .price {
    color: #fb0500;
}

#products_sugestion .directAccess img {
    width: 290px;
    height: 222px;
    margin: 10px 0 0 10px;
    border-radius: 5px;
    box-shadow: 0 1px 3px #000000;
}

#products_more_info {
    width: 1200px;
    margin: 10px auto;
    float: right;
    position: relative;
    right: 75px;
}

#tabs {
    padding: 0;
    margin: 0 0 10px 0;
    width: 100%;
    background: #eeeeee;
    float: right;
    border-radius: 4px;
}

#tabs li {
    width: 199px;
    height: 45px;
    list-style: none;
    float: right;
    border-left: 1px solid #cccccc;
    text-align: center;
    line-height: 43px;
    cursor: pointer;
    position: relative;
}

#tab_option section {
    display: none;
}

#tab_option section:first-child {
    display: block;
}

#tab_option {
    width: 100%;
    background: #f6f7f8;
}

#tabs li.active {
    background: #FFFFFF;
    border-top: 2px solid blue;
}

#tabs li i {
    width: 24px;
    height: 24px;
    float: right;
    display: block;
    position: absolute;
    top: 10px;
    right: 6px;
}

#tab_option > section {
    padding-bottom: 15px;
    float: right;
    background: #eeeeee;
    width: 100%;
    height: auto;
    border-radius: 4px;
}

#tab_option > section > p {
    margin: 10px 15px 0 0;
}

#tab_option > section > .products_content_tab > h5 {
    margin-right: 35px;
    position: relative;
}

#tab_option > section > .products_content_tab > h5 > i {
    width: 32px;
    height: 32px;
    display: block;
    float: right;
    background: url("images/+.png");
    position: absolute;
    right: -33px;
    top: -6px;
    cursor: pointer;
}

#tab_option > section > .products_content_tab > h5 > i.active {
    background: url("images/-.png") !important;
}

#tab_option > section > .products_content_tab {
    width: 100%;
    display: inline-block;
    padding-right: 15px;
}

.product_content_d {
    width: 100%;
    height: 100%;
    display: none;
}

.product_content_d.active {
    display: block;
}

.fani_title {
    width: 250px;
    height: 35px;
    text-align: center;
    background: #6894e6;
    color: #FFFFFF;
    float: right;
    margin: 5px;
    border-radius: 4px;
    line-height: 35px;
}

.fani_val {
    width: 925px;
    height: 35px;
    text-align: center;
    background: #6894e6;
    color: #FFFFFF;
    float: right;
    margin: 5px;
    border-radius: 4px;
    line-height: 35px;
}

#comments_res, #comments_send {
    width: 600px;
    float: right;
}

#comments_res > p {
    margin: 10px;
}

#comments_res .row {
    width: 100%;
    margin: 5px 0;
}

#comments_res .row .title {
    margin: 10px 10px 0 0;
    display: block;
    width: 170px;
    float: right;
}

#comments_res .row ul {
    padding: 0;
    margin-right: 10px;
    height: 10px;
    float: right;
}

#comments_res .row ul li {
    width: 65px;
    height: 100%;
    float: right;
    background: #cccccc;
    list-style: none;
    border-left: 1px solid #FFFFFF;
}

#comments_res .row ul li span {
    display: block;
    width: 100%;
    height: 100%;
    float: right;
    background: #529629;
}

#comments_send > p {
    text-align: center;
}

#comments_send > input {
    width: 500px;
    height: 150px;
    margin-right: 45px;
    padding: 10px;
    text-align: center;
}

#comments_send .btn {
    width: 523px;
    height: 35px;
    display: block;
    margin: 15px 45px 0 0;
    text-align: center;
    background: #7698fc;
    line-height: 30px;
    border-radius: 4px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, .4);
    color: #FFFFFF;
    cursor: pointer;
}

.hr {
    width: 100%;
    height: 1px;
    background: #cccccc;
    margin-top: 15px;
    float: right;
}

.comments {
    width: 100%;
    float: right;
    border-radius: 4px;
    overflow: hidden;
    box-shadow: 0 1px 3px rgba(0, 0, 0, .4);
    margin-top: 15px;
}

.comments_head {
    width: 100%;
    height: 60px;
    float: right;
    background: #858585;
}

.comments_head .right {
    float: right;
    width: 400px;
    height: 100%;
}

.comments_head .right i {
    width: 24px;
    height: 24px;
    display: block;
    float: right;
    margin: 15px;
    background: url("images/comments.png") no-repeat center;
}

.comments_head .right .username {
    float: right;
    color: #FFFFFF;
}

.comments_head .left {
    width: 800px;
    float: left;
    height: 100%;
}

.comments_head .left > p {
    float: right;
    color: #FFFFFF;
    margin-right: 300px;
}

.comments_head .left .like {
    width: 100px;
    height: 30px;
    float: left;
    background: #FFFFFF;
    margin: 15px;
    border-radius: 3px;
}

.comments_head .left .dislike {
    width: 100px;
    height: 30px;
    float: left;
    background: #FFFFFF;
    border-radius: 3px;
    margin: 15px;
}

.comments_head .left .like i {
    width: 24px;
    height: 24px;
    display: block;
    float: right;
    background: url("images/like.png") no-repeat center;
    margin: 3px 6px;
    cursor: pointer;
}

.comments_head .left .like span {
    margin: 2px 10px 0 0;
}

.comments_head .left .dislike i {
    width: 24px;
    height: 24px;
    display: block;
    float: right;
    background: url("images/dislike.png") no-repeat center;
    margin: 3px 6px;
    cursor: pointer;
}

.comments_head .left .dislike span {
    margin: 2px 10px 0 0;
}

.comments_content {
    width: 100%;
    float: right;
}

.comments_content .right {
    width: 450px;
    height: 100%;
    float: right;
    margin-top: 15px;
}

.comments_content .right .row {
    width: 100%;
    margin: 5px 0;
    float: left;
}

.comments_content .right .row .title {
    margin: 10px 10px 0 0;
    display: block;
    width: 150px;
    float: right;
}

.comments_content .right .row ul {
    padding: 0;
    margin-right: 10px;
    height: 10px;
    float: right;
}

.comments_content .right .row ul li {
    width: 55px;
    height: 100%;
    float: right;
    background: #cccccc;
    list-style: none;
    border-left: 1px solid #FFFFFF;
}

.comments_content .right .row ul li span {
    display: block;
    width: 100%;
    height: 100%;
    float: right;
    background: #529629;
}

.comments_content .left {
    width: 750px;
    height: 100%;
    float: right;
}

.comments_content .left .top {
    width: 100%;
    float: right;
}

.comments_content .left .top .title {
    margin: 10px 75px;
}

.comments_content .left .top .date {
    margin: 5px 75px;
}

.comments_content .left .mid {
    width: 100%;
    float: right;
}

.comments_content .left .mid .right {
    width: 250px;
    height: 100%;
    float: right;
    color: #529629;
    margin: 10px 80px 0 0;
}

.comments_content .left .mid .right ul {
    padding: 0;
    margin: 5px 0;
}

.comments_content .left .mid .left ul {
    padding: 0;
    margin: 5px 0;
}

.comments_content .left .mid .left {
    width: 250px;
    height: 100%;
    float: right;
    color: #dc232b;
    margin: 10px 0 0 0;
}

.comments_content .left .bottom {
    width: 100%;
    float: right;
}

.comments_content .left .bottom p {
    text-align: justify;
    margin-right: 65px;
}

#question_section textarea {
    width: 97%;
    margin: 10px;
    height: 190px;
    border: 1px solid #cccccc;
    border-radius: 3px;
    resize: none;
    font-family: amir;
    padding: 10px 15px 0 0;
}

#question_section > .btn {
    width: 523px;
    height: 35px;
    display: block;
    margin: auto;
    text-align: center;
    background: #7698fc;
    line-height: 30px;
    border-radius: 4px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, .4);
    color: #FFFFFF;
    cursor: pointer;
}

#question_section .questions {
    width: 100%;
    float: right;
    overflow: hidden;
    border-radius: 3px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, .4);
    margin-top: 10px;
}

#question_section .questions .questions_head {
    width: 100%;
    height: 40px;
    float: right;
    background: #858585;
}

#question_section .questions .questions_head i {
    width: 24px;
    height: 24px;
    display: block;
    float: right;
    background: url("images/white question.png") no-repeat center;
    margin: 8px 15px;
}

#question_section .questions .questions_head > p {
    color: #FFFFFF;
    float: right;
    margin: 8px;
}

#question_section .questions .questions_head .username {
    color: #FFFFFF;
    float: left;
    margin: 8px;
}

#question_section .questions .questions_head .date {
    color: #FFFFFF;
    float: left;
    margin: 8px;
}

#question_section .questions .questions_content {
    width: 100%;
    float: right;
}

#question_section .questions .questions_content p {
    text-align: justify;
    margin: 10px;
}

.hide_page {
    width: 100%;
    height: 100%;
    float: right;
    background: rgba(0, 0, 0, .15);
    position: fixed;
    top: 0;
    z-index: 10;
    display: none;
}

.hide_page .products_gallery {
    width: 1200px;
    height: 630px;
    background: #FFFFFF;
    float: right;
    position: fixed;
    left: 0;
    right: 0;
    margin: 15px auto;
    z-index: 11;
    border-radius: 4px;
    overflow: hidden;
}

.hide_page .products_gallery .top {
    width: 100%;
    height: 35px;
    float: right;
    background: #858585;
}

.hide_page .products_gallery .top > p {
    margin: 5px 20px;
    color: #FFFFFF;
    float: right;
}

.hide_page .products_gallery .top > span {
    float: left;
    color: #FFFFFF;
    margin: 5px 0 0 20px;
    cursor: pointer;
}

.hide_page .products_gallery .bottom {
    width: 100%;
    height: 595px;
    float: right;
}

.hide_page .products_gallery .bottom .right {
    width: 960px;
    height: 100%;
    float: right;
    text-align: center;
}

.hide_page .products_gallery .bottom .left {
    width: 239px;
    height: 100%;
    float: left;
    border-right: 1px solid #cccccc;
    overflow-y: auto;
}

.hide_page .products_gallery .bottom .left ul {
    padding: 0;
}

.hide_page .products_gallery .bottom .left ul li {
    width: 100%;
    height: 190px;
    float: right;
    list-style: none;
    border-bottom: 1px solid #cccccc;
    cursor: pointer;
    text-align: center;
    opacity: .3;
    position: relative;
}

.hide_page .products_gallery .bottom .left ul li.active {
    opacity: 1 !important;
}

.hide_page .products_gallery .bottom .left ul li img {
    width: 80%;
    height: 90%;
    margin: 10px;
}

.hide_page .products_gallery .bottom .right > img {
    width: 400px;
    height: 500px;
    margin-top: 35px;
}

.bodyScroll {
    overflow: hidden !important;
}

#UserPannel {
    width: 1200px;
    margin: 10px auto;
}

#UserPannel .box {
    width: 100%;
    margin-bottom: 10px;
    float: right;
}

#UserPannel .box .header {
    width: 100%;
    height: 40px;
    float: right;
}

#UserPannel .box .header .shape {
    width: 40px;
    height: 30px;
    background: #f94763;
    display: block;
    float: right;
    position: relative;
    border-radius: 2px;
    text-align: center;
}

#UserPannel .box .header .shape::after {
    content: " ";
    display: block;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 10px 20px 0 20px;
    border-color: #f94763 transparent transparent transparent;
    position: absolute;
    bottom: -10px;
}

#UserPannel .box .header .title {
    width: 1155px;
    height: 100%;
    float: left;
    background: #565656;
    border-radius: 2px;
}

#UserPannel .box .header .title p {
    color: #FFFFFF;
    margin: 7px 15px;
}

#UserPannel .box .content {
    width: 1155px;
    float: left;
    background: #777777;
    border-radius: 2px;
}

#UserPannel .box .content table {
    width: 100%;
}

#UserPannel .box .content table td {
    padding: 10px;
}

#UserPannel .box .content table td .title {
    color: #86d9ff;
}

#UserPannel .box .content table td .value {
    color: #FFFFFF;
}

#UserPannel .box .content .btn {
    width: 95%;
    height: 35px;
    background: #5477b9;
    text-align: center;
    margin: 15px auto;
    border-radius: 3px;
    box-shadow: 0 1px 3px #86d9ff;
    color: #FFFFFF;
    line-height: 33px;
    cursor: pointer;
}

#UserPannel .tab_box {
    background: #777777;
    width: 1155px;
    float: left;
    border-radius: 3px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .3);
}

#UserPannel .tab_box .tab {
    padding: 0;
    margin: 0;
    width: 100%;
    float: right;
}

#UserPannel .tab_box .tab li {
    width: 130px;
    height: 40px;
    float: right;
    list-style: none;
    color: #86d9ff;
    text-align: center;
    line-height: 40px;
    cursor: pointer;
}

#UserPannel .tab_box .tab li.active {
    background: #FFFFFF;
    border-top: 3px solid #4b6ba6;
    color: #dc232b;
}

#UserPannel .tab_box .section {
    background: #cccccc;
    width: 1155px;
    float: left;
    box-shadow: 0 1px 3px rgba(0, 0, 0, .3);
}

#UserPannel .tab_box .section section {
    padding: 10px;
    display: none;
}

.tbl_reserve {
    width: 100%;
}

.tbl_reserve > tbody > tr {
    text-align: center;
    background: #a5a5a5;
    color: #000000;
}

.tbl_reserve > tbody > tr:first-child {
    text-align: center;
    background: #777777;
    color: #FFFFFF;
}

.tbl_reserve > tbody > tr > td {
    border-left: 1px solid #cccccc;
    border-bottom: 1px solid #cccccc;
}

.tbl_reserve > tbody > tr > td > i {
    position: relative;
    top: 5px;
    cursor: pointer;
    width: 32px;
    height: 32px;
    display: inline-block;
    background: url("images/+.png") no-repeat center;
}

.tbl_reserve > tbody > tr > td > i.active {
    background: url("images/-.png") no-repeat center;
}

.tbl_reserve > tbody > tr > td > .sub_tbl {
    width: 99%;
    background: #FFFFFF;
    float: right;
    padding: 6px;
}

.tbl_reserve .sub {
    display: none;
}

.tbl_reserve > tbody > tr > td > .sub_tbl > table {
    width: 100%;
}

.tbl_reserve > tbody > tr > td > .sub_tbl > table > tbody > tr {
    background: #eeeeee;
    color: #000000;
}

.tbl_reserve > tbody > tr > td > .sub_tbl > table > tbody > tr:first-child {
    background: #cccccc;
    color: #be1e25;
}

.tbl_reserve > tbody > tr > td > .sub_tbl > table > tbody > tr > td {
    border-left: 1px solid #aaaaaa;
    border-bottom: 1px solid #aaaaaa;
}

.tbl_reserve > tbody > tr > td > .sub_tbl > table > tbody > tr > td:first-child {
    border-right: 1px solid #aaaaaa;
}

.tbl_reserve > tbody > tr > td > .sub_tbl > p {
    background: #b4b4b4;
    color: #FFFFFF;
}

.order_steps_section {
    width: 100%;
    background: #777777;
    float: right;
}

.order_steps_section > .dash {
    width: 100px;
    height: 5px;
    float: right;
    margin: 60px 10px 0 0;
}

.order_steps_section > .dash:first-child {
    margin-right: 120px !important;
}

.order_steps_section > .dash > span {
    width: 15px;
    height: 4px;
    float: right;
    display: block;
    background: #66bb33;
    border-radius: 2px;
    margin-left: 3px;
}

.order_steps_section ul {
    margin: 0;
    padding: 0;
}

.order_steps_section ul li {
    list-style: none;
    float: right;
    width: 160px;
    height: 130px;
    position: relative;
}

.order_steps_section ul li:last-child {
    width: 25px !important;
}

.order_steps_section .circle {
    width: 24px;
    height: 24px;
    display: block;
    float: right;
    border-radius: 100%;
    border: 2px solid #eeeeee;
    position: absolute;
    top: 50px;
}

.order_steps_section .line {
    width: 120px;
    height: 3px;
    border-radius: 2px;
    background: #eeeeee;
    display: block;
    float: right;
    position: absolute;
    top: 46px;
    right: 18px;
}

.order_steps_section .title {
    color: #eeeeee;
    top: 85px;
    position: absolute;
    right: -28px;
}

.order_steps_section ul li:last-child .title {
    width: 85px !important;
}

.order_steps_section ul li.active .title {
    color: #66bb33 !important;
}

.order_steps_section ul li.active .line {
    background: #66bb33 !important;
}

.order_steps_section ul li.active .circle {
    background: #FFFFFF url("images/pza.png") no-repeat center !important;
}

.order_steps_section > table {
    width: 100%;
    margin: 10px 0;
}

.order_steps_section > table tr {
    color: #FFFFFF;
    background: #aaaaaa;
}

.order_steps_section > table td {
    width: 33%;
    padding: 10px;
}

.message table {
    width: 100%;
}

.message table tr {
    text-align: center;
    background: #a5a5a5;
    color: #000000;
}

.message table tr:first-child {
    text-align: center;
    background: #777777;
    color: #FFFFFF;
}

.message table tr td {
    padding: 5px;
    border-left: 1px solid #cccccc;
    border-bottom: 1px solid #cccccc
}

#UserPannel .section .favorite ul {
    padding: 0;
    margin: 5px;
    background: #aaaaaa;
    width: 99%;
    float: right;
    border: 2px dotted #eeeeee;
}

#UserPannel .section .favorite ul li {
    list-style: none;
    width: 250px;
    height: 60px;
    float: right;
    margin: 10px;
    border-radius: 3px;
    background: #FFFFFF;
    cursor: pointer;
}

#UserPannel .section .favorite ul li.select {
    border: 1px dashed #000000;
}

#UserPannel .section .favorite ul li:hover {
    background: #eeeeee;
}

#UserPannel .section .favorite ul li a {
    display: block;
    width: 100%;
    height: 100%;
    float: right;
}

#UserPannel .section .favorite ul li a .folder {
    width: 32px;
    height: 32px;
    display: block;
    float: right;
    background: url("images/folder.png") no-repeat center;
    margin: 12px 10px 0 5px;
}

#UserPannel .section .favorite ul li a .title {
    margin: 20px 5px 0 0;
    display: block;
    float: right;
}

#UserPannel .section .favorite ul li a .edit {
    width: 32px;
    height: 32px;
    float: left;
    display: none;
    background: url("images/edit.png") no-repeat center;
    cursor: pointer;
    margin: 5px 0 0 10px;
}

#UserPannel .section .favorite ul li.active a .edit {
    display: block !important;
}

#UserPannel .section .favorite .items {
    width: 99%;
    height: 180px;
    float: right;
    background: #FFFFFF;
    border-radius: 3px;
    margin: 5px;
}

#UserPannel .section .favorite .items .right {
    width: 170px;
    height: 170px;
    float: right;
}

#UserPannel .section .favorite .items .right img {
    width: 150px;
    height: 165px;
    border: 1px solid #cccccc;
    margin: 7px 10px 0 0;
}

#UserPannel .section .favorite .items .left {
    width: 940px;
    height: 100%;
    float: left;
}

#UserPannel .section .favorite .items .left .top {
    width: 100%;
    height: 40px;
    float: right;
    border-top: 1px solid #aaaaaa;
    border-bottom: 1px solid #aaaaaa;
    margin-top: 10px;
    position: relative;
}

#UserPannel .section .favorite .items .left .top p {
    margin: 8px;
    float: right;
}

#UserPannel .section .favorite .items .left .top .edit {
    width: 32px;
    height: 32px;
    display: block;
    float: left;
    background: url("images/edit.png") no-repeat center;
    position: absolute;
    cursor: pointer;
    left: 45px;
    top: 2px;
}

#UserPannel .section .favorite .items .left .top .close {
    width: 32px;
    height: 32px;
    display: block;
    float: left;
    background: url("images/close.png") no-repeat center;
    position: absolute;
    cursor: pointer;
    left: 5px;
    top: 5px;
}

#UserPannel .section .favorite .items .left .bottom {
    width: 100%;
    height: 130px;
    float: right;
}

#digibon {
    width: 98%;
    height: 70px;
    float: right;
    margin: 10px 12px;
    background: #b4b4b4;
    border-radius: 3px;
    border: 1px dashed #000000;
}

#digibon .title {
    display: block;
    float: right;
    margin: 20px 15px 0 0;
    color: #FFFFFF;
}

#digibon input {
    width: 220px;
    height: 25px;
    border: 1px solid #000000;
    float: right;
    margin: 19px 10px 0 0;
    border-radius: 3px;
}

#digibon .btn {
    width: 130px;
    height: 26px;
    float: right;
    background: #6894e6;
    border-radius: 3px;
    margin: 20px 10px 0 0;
    text-align: center;
    color: #FFFFFF;
    border: 1px solid #000000;
    cursor: pointer;
}

.edit, .close, .show {
    cursor: pointer;
}

#main .basket {
    width: 100%;
    float: right;
    border-radius: 3px;
    overflow: hidden;
}

#main .basket .header {
    width: 100%;
    height: 60px;
    background: #858585;
}

#main .basket .header p {
    float: right;
    color: #FFFFFF;
    margin: 17px;
}

#main .basket .header .green_btn {
    float: left;
    margin: 12px 0 0 10px;
}

.green_btn {
    width: 180px !important;
    height: 35px !important;
    color: #FFFFFF;
    background: #66bb33;
    box-shadow: 0 1px 3px rgba(0, 0, 0, .3);
    text-align: center;
    border-radius: 4px;
    line-height: 35px;
    cursor: pointer;
}

#main .basket .content {
    width: 100%;
    float: right;
    background: #d4d4d4;
}

#main .basket .content table {
    width: 100%;
    text-align: center;
    margin-top: 15px;
}

#main .basket .content table tr {
    background: #eeeeee;
}

#main .basket .content table tr:first-child {
    background: #afafaf;
    color: #e9232c;
}

#main .basket .content table td:first-child {
    width: 420px;
}

#main .basket .content table td:last-child {
    width: 80px;
}

#main .basket .content table td {
    border-left: 1px solid #cccccc;
    border-bottom: 1px solid #cccccc;
}

#main .basket .content table td .right {
    width: 150px;
    height: 150px;
    float: right;
    border-left: 1px solid #cccccc;
}

#main .basket .content table td .right img {
    width: 120px;
    height: 140px;
    margin: 5px auto;
}

#main .basket .content table td .left {
    width: 250px;
    height: 150px;
    float: right;
    text-align: center;
}

#main .basket .content table td .remove {
    margin: auto;
    cursor: pointer;
}

#main .basket .content .proces_price {
    width: 100%;
    height: 200px;
    background: #e2e2e2;
    float: right;
}

#main .basket .content .proces_price .right {
    width: 40%;
    height: 100%;
    float: right;
    text-align: center;
}

#main .basket .content .proces_price .left {
    width: 60%;
    height: 100%;
    float: right;
    padding-top: 40px;
}

#main .basket .content .proces_price .left div {
    width: 480px;
    height: 50px;
    border: 1px solid #cccccc;
    margin: auto;
}

#main .basket .content .proces_price .left div .title {
    float: right;
    margin: 15px 10px 0 0;
}

#main .basket .content .proces_price .left div .sumPrice {
    float: left;
    margin: 15px 0 0 15px;
}

#main .basket .content .proces_price .left div .UnitPrice {
    float: left;
    margin: 20px 0 0 5px;
}

#main .basket .content .proces_price .left .green_btn {
    float: left;
!important;
    margin: 10px 0 0 120px;
}

.grey_btn {
    width: 180px !important;
    height: 35px !important;
    color: #FFFFFF;
    background: #858585;
    box-shadow: 0 1px 3px rgba(0, 0, 0, .3);
    text-align: center;
    border-radius: 4px;
    line-height: 35px;
    cursor: pointer;
}

#main .basket .content .proces_price .left .grey_btn {
    float: right;
    margin: 10px 120px 0 0;
}

.showCart_content {
    width: 100%;
    float: right;
    background: #eeeeee;
}

.showCart_content .right, .showCart_content .left {
    width: 50%;
    float: right;
    text-align: center;
}

.showCart_content .right .enter {
    width: 64px;
    height: 64px;
    display: inline-block;
    margin-top: 15px;
    background: url(images/slices.gif) -1130px -38px;
}

.showCart_content .green_btn {
    margin: 30px 200px;
}

.showCart_content .left .register {
    width: 64px;
    height: 64px;
    display: inline-block;
    margin-top: 15px;
    background: url("images/slices.gif") -1062px -38px;
}

.showCart_content .header {
    width: 100%;
    height: 50px;
    float: right;
}

.showCart_content .header p {
    float: right;
    margin: 15px 15px 0 0;
}

.showCart_content .header .grey_btn {
    float: left;
!important;
    margin: 10px 0 0 20px;
}

.showCart_content > .adresses {
    width: 100%;
    float: right;
    margin-top: 10px;
}

.showCart_content > .adresses table {
    width: 100%;
    text-align: center;
    background: #FFFFFF;
}

.showCart_content > .adresses table td {
    border-left: 1px solid #cccccc;
    border-bottom: 1px solid #cccccc;
}

.showCart_content > .adresses table td p {
    display: inline-block;
}

.showCart_content > .adresses table td .circle {
    width: 18px;
    height: 18px;
    display: inline-block;
    background: #FFFFFF;
    border: 1px solid #cccccc;
    border-radius: 100%;
    position: relative;
    cursor: pointer;
}

.showCart_content > .adresses table.active .select {
    background: #565656;
    position: relative;
}

.showCart_content > .adresses table.active .polygonal {
    display: inline-block;
    top: 0;
    right: 0;
}

.polygonal {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 40px 40px 0;
    border-color: transparent #5ba84d transparent transparent;
    display: none;
    position: absolute;
}

.showCart_content > .adresses table.active td .circle {
    background: #738ffe;
    border: none;
}

.showCart_content > .adresses table.active td .circle::after {
    content: " ";
    width: 8px;
    height: 8px;
    display: inline-block;
    background: #FFFFFF;
    position: absolute;
    border-radius: 100%;
    top: 5px;
    right: 5px;
}

.showCart_content > .adresses table tr td .edit {
    width: 100%;
    height: 80px;
    background: #90b0ff;
    opacity: 0.8;
    text-align: center;
    cursor: default !important;
    border-radius: 2px;
}

.showCart_content > .adresses table tr td .edit i {
    width: 32px;
    height: 32px;
    display: inline-block;
    background: url("images/edit.png") no-repeat center;
    margin-top: 20px;
    cursor: pointer;
}

.showCart_content > .adresses table tr td .remove {
    background: #fe8c63;
    width: 100%;
    height: 80px;
    opacity: 0.8;
    text-align: center;
    border-radius: 2px;
}

.showCart_content > .adresses table tr td .remove i {
    width: 24px;
    height: 24px;
    display: inline-block;
    background: url("images/close.png") no-repeat center;
    margin-top: 25px;
    cursor: pointer;
}

.send_type {
    width: 100%;
    float: right;
    margin: 8px;
}

.p_title {
    color: #e9232c;
    margin: 15px 10px 0 0;
    float: right;
}

.pishtaz, .Usuall_post {
    width: 99%;
    background: #FFFFFF;
    text-align: center;
}

.pishtaz td, .Usuall_post td {
    border-left: 1px solid #cccccc;
    border-bottom: 1px solid #cccccc;
    border-top: 1px solid #cccccc;
}

.pishtaz td:first-child, .Usuall_post td:first-child {
    border-right: 1px solid #cccccc;
}

.postimg {
    float: right;
    margin: 5px;
}

.post_title {
    float: right;
}

.send_type .circle {
    width: 14px;
    height: 14px;
    display: inline-block;
    border: 1px solid #cccccc;
    border-radius: 100%;
    position: absolute;
    top: 17px;
    left: 12px;
    cursor: pointer;
}

.send_type table.active .circle {
    border: none;
    background: #738ffe;
}

.send_type table.active .circle::after {
    content: " ";
    width: 6px;
    height: 6px;
    display: inline-block;
    position: absolute;
    background: #FFFFFF;
    border-radius: 100%;
    top: 4px;
    right: 4px;
}

.send_type table.active td:first-child {
    background: #565656;
}

.showCart_content > .green_btn {
    float: left;
    margin: 20px !important;
}

.hide_page .add_addres {
    width: 500px;
    height: 630px;
    float: right;
    margin: 15px 420px;
    background: #FFFFFF;
    border-radius: 3px;
    overflow: hidden;
}

.hide_page .add_addres .header {
    width: 100%;
    height: 35px;
    float: right;
    background: #565656;
}

.hide_page .add_addres .header .title {
    color: #FFFFFF;
    float: right;
    margin: 5px 15px;
}

.hide_page .add_addres .header .close {
    width: 24px;
    height: 24px;
    display: block;
    float: left;
    background: url("images/close.png") no-repeat center;
    cursor: pointer;
    margin: 5px 0 0 5px;
}

.hide_page .add_addres .row {
    width: 100%;
    float: right;
    text-align: center;
}

.hide_page .add_addres .row .right {
    width: 200px;
    height: 100%;
    float: right;
}

.hide_page .add_addres .row .left {
    width: 300px;
    height: 100%;
    float: right;
}

.hide_page .add_addres .row .left input {
    width: 70%;
    height: 25px;
    border-radius: 3px;
    border: 1px solid #cccccc;
    margin-top: 10px;
    padding-right: 10px;
}

.hide_page .add_addres .row .left textarea {
    width: 70%;
    height: 50px;
    border-radius: 3px;
    border: 1px solid #cccccc;
    margin-top: 10px;
    padding-right: 10px;
}

.hide_page .add_addres .green_btn {
    float: left;
    margin: 10px 0 0 37px;
}

.left .ostans {
    width: 74%;
    height: 25px;
    border-radius: 3px;
    border: 1px solid #cccccc;
    margin: 10px 38px 0 0;
    float: right;
    text-align: center;
    cursor: pointer;
}

.left .ostans ul {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 180px;
    overflow: auto;
    float: right;
    position: relative;
    z-index: 5;
    margin-top: 3px;
    background: #eeeeee;
    display: none;
}

.left .ostans ul li {
    width: 100%;
    height: 25px;
    list-style: none;
    cursor: pointer;
    float: right;
    border-bottom: 1px solid #cccccc;
}

.left .ostans .title {
    margin: 3px;
}

.left .city {
    width: 74%;
    height: 25px;
    border-radius: 3px;
    border: 1px solid #cccccc;
    margin: 10px 38px 0 0;
    float: right;
    text-align: center;
    cursor: pointer;
}

.left .city ul {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 180px;
    overflow: auto;
    float: right;
    position: relative;
    z-index: 5;
    margin-top: 3px;
    background: #eeeeee;
    display: none;
}

.left .city ul li {
    width: 100%;
    height: 25px;
    list-style: none;
    cursor: pointer;
    float: right;
    border-bottom: 1px solid #cccccc;
}

.left .city .title {
    margin: 3px;
}

.showCart_content .rewie_order {
    width: 100%;
    float: right;
    margin-top: 15px;
    background: #FFFFFF;
    text-align: center;
}

.showCart_content .rewie_order tr:first-child {
    background: #4b4b4b;
    color: #FFFFFF;
}

.showCart_content .rewie_order td {
    border-left: 1px solid #aaaaaa;
    border-bottom: 1px solid #aaaaaa;
}

.showCart_content .rewie_order td:first-child {
    border-right: 1px solid #aaaaaa;
}

.showCart_content .rewie_order .image_reviw {
    float: right;
    margin: 5px;
    width: 135px;
    height: 150px;
    border: 1px solid #cccccc;
    margin-left: 20px;
}

.showCart_content .rewie_order p {
    text-align: right;
    margin: 20px 0;
}

.showCart_content .rewie_order .num {
    text-align: center !important;
}

.showCart_content .rewie_order .unit_price {
    display: inline-block;
}

.showCart_content .rewie_order .sum_price {
    display: inline-block;
}

.showCart_content .describe_price {
    width: 100%;
    float: right;
    margin-top: 15px;
    background: #666666;
    text-align: center;
    color: #FFFFFF;
}

.showCart_content .describe_price td {
    border-left: 1px solid #FFFFFF;
    border-bottom: 1px solid #FFFFFF;
}

.showCart_content .describe_price td:first-child {
    background: #4b4b4b;
    color: #FFFFFF;
    border-right: 1px solid #FFFFFF;
}

.showCart_content .describe_price .sum_price {
    display: inline-block;
}

.showCart_content .describe_price .off_price {
    display: inline-block;
}

.showCart_content .describe_price .cash_price {
    display: inline-block;
}

.showCart_content .type_pay {
    width: 100%;
    float: right;
    margin-top: 10px;
    background: #666666;
    color: #FFFFFF;
}

.showCart_content .type_pay td {
    border-right: 1px solid #FFFFFF;
    border-bottom: 1px solid #FFFFFF;
    padding: 10px;
}

.showCart_content .type_pay td:first-child {
    border-right: 1px solid #FFFFFF;
}

.showCart_content .type_pay .circle {
    width: 20px;
    height: 20px;
    display: block;
    float: right;
    border-radius: 100%;
    border: 1px solid #eee;
    background: #fff;
    margin: 5px 14px;
    cursor: pointer;
    position: relative;
}

.showCart_content .type_pay .circle.active {
    background: #738ffe !important;
}

.showCart_content .type_pay .circle.active::after {
    width: 8px;
    height: 8px;
    content: " ";
    display: block;
    float: right;
    border-radius: 100%;
    background: #FFFFFF;
    position: absolute;
    top: 6px;
    right: 6px;
}